
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
io
sys
_thread
json

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
